@charset "UTF-8";

/* --- Configurações Gerais --- */
@media all {
    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    html, body{
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h1{
        padding: 15px;
        color: rgb(220, 216, 216);
        text-align: center;
    }
}


/* --- Modo Retrato --- */
@media screen and (orientation: portrait) {
    body{
        background-image: url('../imagens/cev-portrait.jpg');
        background-position: center bottom;

    }
}

/* --- Modo Paisagem --- */
@media screen and (orientation: landscape) { 
    body{
        background-image: url('../imagens/cev-landscape.jpg');
        background-position: left bottom;
    }
}