@charset "UTF-8";

/* Mobile first  */


    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
    }

    html{
        height: 100vh;
    }

    body{
        background: black url('../images/back-phone.jpg') center center no-repeat;
        background-size: cover;

    }

    main{
        background-color: rgba(255, 255, 255, 0.631);
        width: 300px;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        padding: 10px;
    }

    h1{
        text-align: center;
        color: white;
        font-size: 2em;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.501);
    }

    img{
        display: block;
        margin: auto;
    }

    #phone{display: block;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
