@charset "UTF-8";

h1{
    background-color: lightgray;
    width: 400px;
    height: 50px;
    
    border: 10px solid gray;
    
    padding: 10px;
    
    margin: 20px auto 40px auto;
    
    outline: 10px dashed salmon;
    
    text-align: center;
}

a{
    border: 5px dotted rebeccapurple;
    padding: 5px;
}