@charset "UTF-8";

/* Todas as demais mídias */

/*
Typical Device Breakpoints
-------------------
Pequenas Telas: até 600px;
Celulares: de 600px até 768px;
Tablets: de 768px até 992px;
Desktops: de 992px até 1200px;
Grandes Telas: acima de 1200px
*/

@media print{/*MODELO PARA IMPRESSÃO*/
    menu{
        display: none;
    }

    body{
        font-family: 'Courier New', Courier, monospace;
    }
}
/*
@media screen and (max-width:768px){
    menu{
        display: none;
    }
}
*/
@media screen and (min-width:768px){
    #menu-icon{
        display: none;
    }

    header{
        padding-bottom: 0px;
    }   

    menu{
        display: block;
    }
    menu > ul >li{
        display: inline-block;
    }

    main{
        width: 730px;
    }
}

