@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
}

header{
    background-color: rgb(153, 152, 152);
    padding-bottom: 10px;
}

header h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

menu li{
    padding: 10px;
    margin: 3px 10px 3px 10px;
    background-color: rgb(100, 100, 100);
    list-style: none;
    text-align: center;
}

menu li:hover{
    background-color: rgb(51, 51, 51);
}

menu >ul > a{
    color: white;
    text-decoration: none;
}

main{
    margin:10px;
    min-width: 200px;
    padding: 20px;

    background-color: white;
    border-radius: 10px;
}

main h1{
    font-size: 1.6em;
    text-align: center;
}

main h2{
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 1.3em;
    color: rgb(91, 90, 90);
}

main p{
    text-align: justify;
    padding-bottom: 20px;
}

footer{
    background-color: black;
}

footer p{
    padding:20px;
    text-align: center;
    color: white;
}

footer >p > a{
    color: rgb(173, 173, 173);
    text-decoration: none;
    font-weight: bold;
}

footer >p >a:hover{
    text-decoration: underline;
}
